# Ignore all
*/
*/**

# Whitelist project files
!.gitignore
!LICENSE

# Whitelist .idea
!.idea/
!.idea/**

# Whitelist gradle files
!gradle
!gradle/**
!gradlew
!gradlew.bat
!**/*.gradle

# Whitelist source
!src
!src/**
