<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/* Insert head fragment */-->
        <th:block th:insert="~{index :: head}" th:remove="tag" />
        <title>Todo Application</title>
    </head>
    <body style="height: 100%; padding: 0;">
        <h2>Todos</h2>
        <form>
            <label for="todo"><!--/**/--></label>
            <input id="todo" type="text" placeholder="Something to remember..." />
            <input type="submit" value="Add" />
        </form>
        <h3>Todo List</h3>
        <h4 th:if="${todos.isEmpty()}">No Todos</h4>
        <table th:if="${!todos.isEmpty()}">
            <thead>
                <tr>
                    <th>Todo</th>
                    <th>Actions</th>
                </tr>
            <tbody>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.getDescription()}">Todo description</td>
                    <td>
                        <form method="post" th:action="@{/todos/delete}" th:object="${Long}">
                            <input type="hidden" th:value="${todo.getId()}" />
                            <input type="submit" value="Delete" />
                        </form>
                        <form method="post" th:action="@{/todos/complete}" th:object="${Long}">
                            <input type="hidden" th:value="${todo.getId()}" />
                            <input type="submit" value="Complete" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>